- var page_Title = 'Morris Chart';
- var theme_customizer      = true;
- var morrischart           = true;
- var page_morrischart      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Charts','Morris Chart'],'Morris Chart')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Line Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #morris-line-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Updating Data
                  .card-body.chart-block
                    .flot-chart-container
                      #updating-data-morris-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Decimal Data
                  .card-body.chart-block
                    .flot-chart-container
                      #decimal-morris-chart.flot-chart-placeholder.float-start
                      p#choices.float-end
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Displaying X Labels Diagonally
                  .card-body.chart-block
                    .flot-chart-container
                      #x-Labels-Diagonally-morris-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Bar Line Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #bar-line-chart-morris.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Displaying X Labels Diagonally(Bar Chart)
                  .card-body.chart-block
                    .flot-chart-container
                      #x-lable-morris-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Stacked Bars Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #stacked-bar-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Simple Bar Charts
                  .card-body.chart-block
                    .flot-chart-container
                      #morris-simple-bar-chart.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Area charts behaving like line Charts
                  .card-body.chart-block
                    .flot-chart-container
                      #graph123.flot-chart-placeholder
              .col-lg-6.col-sm-12.box-col-12
                .card
                  .card-header
                    h4 Donut Color Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #donut-color-chart-morris.flot-chart-placeholder
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
