- var page_Title = 'ChartJS Chart';
- var theme_customizer      = true;
- var chartjs               = true;
- var page_chartjs          = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Charts','ChartJS Chart'],'ChartJS Chart')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Bar Chart
                  .card-body.chart-block
                    canvas#myBarGraph
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Line Graph
                  .card-body.chart-block
                    canvas#myGraph
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Radar Graph
                  .card-body.chart-block
                    canvas#myRadarGraph
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Line Chart
                  .card-body.chart-block
                    canvas#myLineCharts
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Doughnut Chart
                  .card-body.chart-block.chart-vertical-center
                    canvas#myDoughnutGraph
              .col-xl-6.col-md-12.box-col-12
                .card
                  .card-header
                    h4 Polar Chart
                  .card-body.chart-block.chart-vertical-center
                    canvas#myPolarGraph
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
