- var page_Title = 'Sparkline Chart';
- var theme_customizer      = true;
- var sparkline             = true;
- var page_sparkline        = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Charts','Sparkline Chart'],'Sparkline Chart')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Mouse Speed Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #mouse-speed-chart-sparkline.flot-chart-placeholder
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Simple Bar Charts
                  .card-body.chart-block
                    .flot-chart-container
                      #custom-line-chart.flot-chart-placeholder
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Line Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #line-chart-sparkline.flot-chart-placeholder.line-chart-sparkline
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Simple Line Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #simple-line-chart-sparkline.flot-chart-placeholder
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Bar Chart
                  .card-body.chart-block
                    .flot-chart-container
                      #bar-chart-sparkline.flot-chart-placeholder
              .col-xl-4.col-md-6.col-sm-12.box-col-6
                .card
                  .card-header
                    h4 Pie chart
                  .card-body.chart-block
                    .flot-chart-container
                      #pie-sparkline-chart.flot-chart-placeholder
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
