doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Dunzo admin is super flexible, powerful, clean & modern responsive bootstrap 5 admin template with unlimited possibilities.')
    meta(name='keywords', content='admin template, Dunzo admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author', content='pixelstrap')
    link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
    link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
    title Basic With Header | Mofi - Premium Admin Template By Pixelstrap
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    style(type='text/css').
      body{
      width: 650px;
      font-family: work-Sans, sans-serif;
      background-color: #f6f7fb;
      display: block;
      padding: 0 12px;
      }
      a{
        text-decoration: none;
      }
      span {
        font-size: 14px;
      }
      p {
        font-size: 13px;
        line-height: 1.7;
        letter-spacing: 0.7px;
        margin-top: 0;
      }
      .text-center{
        text-align: center
      }
      h6 {
        font-size: 16px;
        margin: 0 0 18px 0;
      }
      @media only screen and (max-width: 767px){
        body{
            width: auto;
            margin: 20px auto;
        }
        .logo-sec{
          width: 500px !important;
        }
      }
      @media only screen and (max-width: 575px){
        .logo-sec{
          width: 400px !important;
        }
      }
      @media only screen and (max-width: 480px){
        .logo-sec{
          width: 300px !important;
        }
      }
      @media only screen and (max-width: 360px){
        .logo-sec{
          width: 250px !important;
        }
      }
  body(style='margin: 30px auto;')
    table(style='width: 100%')
      tbody
        tr
          td
            table(style='background-color: #f6f7fb; width: 100%')
              tbody
                tr
                  td
                    table(style='margin: 0 auto; margin-bottom: 30px')
                      tbody
                        tr.logo-sec(style='display: flex; align-items: center; justify-content: space-between; width: 650px;')
                          td
                            img.img-fluid(src='../assets/images/logo/logo.png', alt='')
                          td(style='text-align: right; color:#999')
                            span Some Description
            table(style='margin: 0 auto; background-color: #fff; border-radius: 8px')
              tbody
                tr
                  td(style='padding: 30px') 
                    h6(style='font-weight: 600') Password Reset
                    p you forgot your password for Dunzo Admin. If this is true, click below to reset your password.
                    p(style='text-align: center')
                      a(href='reset-password.html' style='padding: 10px; background-color:#7A70BA; color: #fff; display: inline-block; border-radius:30px; font-weight:700; padding:0.6rem 1.75rem;') Reset Password
                    p If you have remember your password you can safely ignore his email.
                    p Good luck! Hope it works.
                    p(style='margin-bottom: 0') Regards,<br>
                      | Webiots Software
            table(style='margin: 0 auto; margin-top: 30px')
              tbody        
                tr(style='text-align: center')
                  td 
                    p(style='color: #999; margin-bottom: 0') 333 Woodland Rd. Baldwinsville, NY 13027
                    p(style='color: #999; margin-bottom: 0') Don't Like These Emails?
                      a(href='#', style='color: #7A70BA') Unsubscribe
                    p(style='color: #999; margin-bottom: 0') Powered By Dunzo Admin