- var page_Title = 'Feather Icons';
- var theme_customizer      = true;
- var page_feather_icon     = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Icons','Feather Icons'],'Feather Icons')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header
                    h4.m-b-0 Feather Icons
                  .card-body
                    .row.icon-lists.feather-icons
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='activity')
                          .flex-grow-1.align-self-center
                            h6.mt-0 activity
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='airplay')
                          .flex-grow-1.align-self-center
                            h6.mt-0 airplay
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='alert-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 alert-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='alert-octagon')
                          .flex-grow-1.align-self-center
                            h6.mt-0 alert-octagon
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='alert-triangle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 alert-triangle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='align-center')
                          .flex-grow-1.align-self-center
                            h6.mt-0 align-center
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='align-justify')
                          .flex-grow-1.align-self-center
                            h6.mt-0 align-justify
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='align-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 align-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='align-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 align-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='anchor')
                          .flex-grow-1.align-self-center
                            h6.mt-0 anchor
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='aperture')
                          .flex-grow-1.align-self-center
                            h6.mt-0 aperture
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='archive')
                          .flex-grow-1.align-self-center
                            h6.mt-0 archive
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-down-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-down-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-down-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-down-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-down-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-down-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-left-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-left-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-right-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-right-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-up-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-up-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-up-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-up-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-up-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-up-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='arrow-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 arrow-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='at-sign')
                          .flex-grow-1.align-self-center
                            h6.mt-0 at-sign
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='award')
                          .flex-grow-1.align-self-center
                            h6.mt-0 award
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bar-chart-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bar-chart-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bar-chart')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bar-chart
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='battery-charging')
                          .flex-grow-1.align-self-center
                            h6.mt-0 battery-charging
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='battery')
                          .flex-grow-1.align-self-center
                            h6.mt-0 battery
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bell-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bell-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bell')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bell
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bluetooth')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bluetooth
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bold')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bold
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='book-open')
                          .flex-grow-1.align-self-center
                            h6.mt-0 book-open
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='book')
                          .flex-grow-1.align-self-center
                            h6.mt-0 book
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='bookmark')
                          .flex-grow-1.align-self-center
                            h6.mt-0 bookmark
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='box')
                          .flex-grow-1.align-self-center
                            h6.mt-0 box
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='briefcase')
                          .flex-grow-1.align-self-center
                            h6.mt-0 briefcase
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='calendar')
                          .flex-grow-1.align-self-center
                            h6.mt-0 calendar
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='camera-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 camera-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='camera')
                          .flex-grow-1.align-self-center
                            h6.mt-0 camera
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cast')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cast
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='check-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 check-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='check-square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 check-square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='check')
                          .flex-grow-1.align-self-center
                            h6.mt-0 check
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevron-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevron-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevron-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevron-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevron-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevron-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevron-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevron-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevrons-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevrons-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevrons-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevrons-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevrons-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevrons-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chevrons-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chevrons-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='chrome')
                          .flex-grow-1.align-self-center
                            h6.mt-0 chrome
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='clipboard')
                          .flex-grow-1.align-self-center
                            h6.mt-0 clipboard
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='clock')
                          .flex-grow-1.align-self-center
                            h6.mt-0 clock
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud-drizzle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud-drizzle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud-lightning')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud-lightning
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud-rain')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud-rain
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud-snow')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud-snow
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cloud')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cloud
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='code')
                          .flex-grow-1.align-self-center
                            h6.mt-0 code
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='codepen')
                          .flex-grow-1.align-self-center
                            h6.mt-0 codepen
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='coffee')
                          .flex-grow-1.align-self-center
                            h6.mt-0 coffee
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='command')
                          .flex-grow-1.align-self-center
                            h6.mt-0 command
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='compass')
                          .flex-grow-1.align-self-center
                            h6.mt-0 compass
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='copy')
                          .flex-grow-1.align-self-center
                            h6.mt-0 copy
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-down-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-down-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-down-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-down-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-left-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-left-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-left-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-left-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-right-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-right-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-right-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-right-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-up-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-up-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='corner-up-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 corner-up-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='cpu')
                          .flex-grow-1.align-self-center
                            h6.mt-0 cpu
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='credit-card')
                          .flex-grow-1.align-self-center
                            h6.mt-0 credit-card
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='crop')
                          .flex-grow-1.align-self-center
                            h6.mt-0 crop
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='crosshair')
                          .flex-grow-1.align-self-center
                            h6.mt-0 crosshair
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='database')
                          .flex-grow-1.align-self-center
                            h6.mt-0 database
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='delete')
                          .flex-grow-1.align-self-center
                            h6.mt-0 delete
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='disc')
                          .flex-grow-1.align-self-center
                            h6.mt-0 disc
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='dollar-sign')
                          .flex-grow-1.align-self-center
                            h6.mt-0 dollar-sign
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='download-cloud')
                          .flex-grow-1.align-self-center
                            h6.mt-0 download-cloud
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='download')
                          .flex-grow-1.align-self-center
                            h6.mt-0 download
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='droplet')
                          .flex-grow-1.align-self-center
                            h6.mt-0 droplet
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='edit-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 edit-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='edit-3')
                          .flex-grow-1.align-self-center
                            h6.mt-0 edit-3
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='edit')
                          .flex-grow-1.align-self-center
                            h6.mt-0 edit
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='external-link')
                          .flex-grow-1.align-self-center
                            h6.mt-0 external-link
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='eye-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 eye-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='eye')
                          .flex-grow-1.align-self-center
                            h6.mt-0 eye
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='facebook')
                          .flex-grow-1.align-self-center
                            h6.mt-0 facebook
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='fast-forward')
                          .flex-grow-1.align-self-center
                            h6.mt-0 fast-forward
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='feather')
                          .flex-grow-1.align-self-center
                            h6.mt-0 feather
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='file-minus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 file-minus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='file-plus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 file-plus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='file-text')
                          .flex-grow-1.align-self-center
                            h6.mt-0 file-text
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='file')
                          .flex-grow-1.align-self-center
                            h6.mt-0 file
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='film')
                          .flex-grow-1.align-self-center
                            h6.mt-0 film
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='filter')
                          .flex-grow-1.align-self-center
                            h6.mt-0 filter
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='flag')
                          .flex-grow-1.align-self-center
                            h6.mt-0 flag
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='folder-minus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 folder-minus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='folder-plus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 folder-plus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='folder')
                          .flex-grow-1.align-self-center
                            h6.mt-0 folder
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='gift')
                          .flex-grow-1.align-self-center
                            h6.mt-0 gift
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='git-branch')
                          .flex-grow-1.align-self-center
                            h6.mt-0 git-branch
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='git-commit')
                          .flex-grow-1.align-self-center
                            h6.mt-0 git-commit
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='git-merge')
                          .flex-grow-1.align-self-center
                            h6.mt-0 git-merge
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='git-pull-request')
                          .flex-grow-1.align-self-center
                            h6.mt-0 git-pull-request
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='github')
                          .flex-grow-1.align-self-center
                            h6.mt-0 github
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='gitlab')
                          .flex-grow-1.align-self-center
                            h6.mt-0 gitlab
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='globe')
                          .flex-grow-1.align-self-center
                            h6.mt-0 globe
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='grid')
                          .flex-grow-1.align-self-center
                            h6.mt-0 grid
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='hard-drive')
                          .flex-grow-1.align-self-center
                            h6.mt-0 hard-drive
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='hash')
                          .flex-grow-1.align-self-center
                            h6.mt-0 hash
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='headphones')
                          .flex-grow-1.align-self-center
                            h6.mt-0 headphones
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='heart')
                          .flex-grow-1.align-self-center
                            h6.mt-0 heart
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='help-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 help-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='home')
                          .flex-grow-1.align-self-center
                            h6.mt-0 home
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='image')
                          .flex-grow-1.align-self-center
                            h6.mt-0 image
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='inbox')
                          .flex-grow-1.align-self-center
                            h6.mt-0 inbox
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='info')
                          .flex-grow-1.align-self-center
                            h6.mt-0 info
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='instagram')
                          .flex-grow-1.align-self-center
                            h6.mt-0 instagram
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='italic')
                          .flex-grow-1.align-self-center
                            h6.mt-0 italic
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='layers')
                          .flex-grow-1.align-self-center
                            h6.mt-0 layers
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='layout')
                          .flex-grow-1.align-self-center
                            h6.mt-0 layout
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='life-buoy')
                          .flex-grow-1.align-self-center
                            h6.mt-0 life-buoy
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='link-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 link-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='link')
                          .flex-grow-1.align-self-center
                            h6.mt-0 link
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='linkedin')
                          .flex-grow-1.align-self-center
                            h6.mt-0 linkedin
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='list')
                          .flex-grow-1.align-self-center
                            h6.mt-0 list
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='loader')
                          .flex-grow-1.align-self-center
                            h6.mt-0 loader
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='lock')
                          .flex-grow-1.align-self-center
                            h6.mt-0 lock
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='log-in')
                          .flex-grow-1.align-self-center
                            h6.mt-0 log-in
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='log-out')
                          .flex-grow-1.align-self-center
                            h6.mt-0 log-out
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='mail')
                          .flex-grow-1.align-self-center
                            h6.mt-0 mail
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='map-pin')
                          .flex-grow-1.align-self-center
                            h6.mt-0 map-pin
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='map')
                          .flex-grow-1.align-self-center
                            h6.mt-0 map
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='maximize-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 maximize-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='maximize')
                          .flex-grow-1.align-self-center
                            h6.mt-0 maximize
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='menu')
                          .flex-grow-1.align-self-center
                            h6.mt-0 menu
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='message-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 message-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='message-square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 message-square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='mic-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 mic-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='mic')
                          .flex-grow-1.align-self-center
                            h6.mt-0 mic
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='minimize-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 minimize-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='minimize')
                          .flex-grow-1.align-self-center
                            h6.mt-0 minimize
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='minus-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 minus-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='minus-square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 minus-square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='minus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 minus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='monitor')
                          .flex-grow-1.align-self-center
                            h6.mt-0 monitor
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='moon')
                          .flex-grow-1.align-self-center
                            h6.mt-0 moon
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='more-horizontal')
                          .flex-grow-1.align-self-center
                            h6.mt-0 more-horizontal
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='more-vertical')
                          .flex-grow-1.align-self-center
                            h6.mt-0 more-vertical
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='move')
                          .flex-grow-1.align-self-center
                            h6.mt-0 move
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='music')
                          .flex-grow-1.align-self-center
                            h6.mt-0 music
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='navigation-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 navigation-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='navigation')
                          .flex-grow-1.align-self-center
                            h6.mt-0 navigation
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='octagon')
                          .flex-grow-1.align-self-center
                            h6.mt-0 octagon
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='package')
                          .flex-grow-1.align-self-center
                            h6.mt-0 package
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='paperclip')
                          .flex-grow-1.align-self-center
                            h6.mt-0 paperclip
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='pause-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 pause-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='pause')
                          .flex-grow-1.align-self-center
                            h6.mt-0 pause
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='percent')
                          .flex-grow-1.align-self-center
                            h6.mt-0 percent
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-call')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-call
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-forwarded')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-forwarded
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-incoming')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-incoming
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-missed')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-missed
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone-outgoing')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone-outgoing
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='phone')
                          .flex-grow-1.align-self-center
                            h6.mt-0 phone
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='pie-chart')
                          .flex-grow-1.align-self-center
                            h6.mt-0 pie-chart
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='play-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 play-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='play')
                          .flex-grow-1.align-self-center
                            h6.mt-0 play
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='plus-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 plus-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='plus-square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 plus-square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='plus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 plus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='pocket')
                          .flex-grow-1.align-self-center
                            h6.mt-0 pocket
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='power')
                          .flex-grow-1.align-self-center
                            h6.mt-0 power
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='printer')
                          .flex-grow-1.align-self-center
                            h6.mt-0 printer
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='radio')
                          .flex-grow-1.align-self-center
                            h6.mt-0 radio
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='refresh-ccw')
                          .flex-grow-1.align-self-center
                            h6.mt-0 refresh-ccw
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='refresh-cw')
                          .flex-grow-1.align-self-center
                            h6.mt-0 refresh-cw
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='repeat')
                          .flex-grow-1.align-self-center
                            h6.mt-0 repeat
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='rewind')
                          .flex-grow-1.align-self-center
                            h6.mt-0 rewind
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='rotate-ccw')
                          .flex-grow-1.align-self-center
                            h6.mt-0 rotate-ccw
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='rotate-cw')
                          .flex-grow-1.align-self-center
                            h6.mt-0 rotate-cw
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='rss')
                          .flex-grow-1.align-self-center
                            h6.mt-0 rss
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='save')
                          .flex-grow-1.align-self-center
                            h6.mt-0 save
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='scissors')
                          .flex-grow-1.align-self-center
                            h6.mt-0 scissors
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='search')
                          .flex-grow-1.align-self-center
                            h6.mt-0 search
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='send')
                          .flex-grow-1.align-self-center
                            h6.mt-0 send
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='server')
                          .flex-grow-1.align-self-center
                            h6.mt-0 server
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='settings')
                          .flex-grow-1.align-self-center
                            h6.mt-0 settings
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='share-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 share-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='share')
                          .flex-grow-1.align-self-center
                            h6.mt-0 share
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='shield-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 shield-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='shield')
                          .flex-grow-1.align-self-center
                            h6.mt-0 shield
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='shopping-bag')
                          .flex-grow-1.align-self-center
                            h6.mt-0 shopping-bag
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='shopping-cart')
                          .flex-grow-1.align-self-center
                            h6.mt-0 shopping-cart
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='shuffle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 shuffle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='sidebar')
                          .flex-grow-1.align-self-center
                            h6.mt-0 sidebar
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='skip-back')
                          .flex-grow-1.align-self-center
                            h6.mt-0 skip-back
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='skip-forward')
                          .flex-grow-1.align-self-center
                            h6.mt-0 skip-forward
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='slack')
                          .flex-grow-1.align-self-center
                            h6.mt-0 slack
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='slash')
                          .flex-grow-1.align-self-center
                            h6.mt-0 slash
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='sliders')
                          .flex-grow-1.align-self-center
                            h6.mt-0 sliders
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='smartphone')
                          .flex-grow-1.align-self-center
                            h6.mt-0 smartphone
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='speaker')
                          .flex-grow-1.align-self-center
                            h6.mt-0 speaker
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='star')
                          .flex-grow-1.align-self-center
                            h6.mt-0 star
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='stop-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 stop-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='sun')
                          .flex-grow-1.align-self-center
                            h6.mt-0 sun
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='sunrise')
                          .flex-grow-1.align-self-center
                            h6.mt-0 sunrise
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='sunset')
                          .flex-grow-1.align-self-center
                            h6.mt-0 sunset
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='tablet')
                          .flex-grow-1.align-self-center
                            h6.mt-0 tablet
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='tag')
                          .flex-grow-1.align-self-center
                            h6.mt-0 tag
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='target')
                          .flex-grow-1.align-self-center
                            h6.mt-0 target
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='terminal')
                          .flex-grow-1.align-self-center
                            h6.mt-0 terminal
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='thermometer')
                          .flex-grow-1.align-self-center
                            h6.mt-0 thermometer
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='thumbs-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 thumbs-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='thumbs-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 thumbs-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='toggle-left')
                          .flex-grow-1.align-self-center
                            h6.mt-0 toggle-left
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='toggle-right')
                          .flex-grow-1.align-self-center
                            h6.mt-0 toggle-right
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='trash-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 trash-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='trash')
                          .flex-grow-1.align-self-center
                            h6.mt-0 trash
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='trending-down')
                          .flex-grow-1.align-self-center
                            h6.mt-0 trending-down
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='trending-up')
                          .flex-grow-1.align-self-center
                            h6.mt-0 trending-up
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='triangle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 triangle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='truck')
                          .flex-grow-1.align-self-center
                            h6.mt-0 truck
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='tv')
                          .flex-grow-1.align-self-center
                            h6.mt-0 tv
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='twitter')
                          .flex-grow-1.align-self-center
                            h6.mt-0 twitter
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='type')
                          .flex-grow-1.align-self-center
                            h6.mt-0 type
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='umbrella')
                          .flex-grow-1.align-self-center
                            h6.mt-0 umbrella
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='underline')
                          .flex-grow-1.align-self-center
                            h6.mt-0 underline
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='unlock')
                          .flex-grow-1.align-self-center
                            h6.mt-0 unlock
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='upload-cloud')
                          .flex-grow-1.align-self-center
                            h6.mt-0 upload-cloud
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='upload')
                          .flex-grow-1.align-self-center
                            h6.mt-0 upload
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='user-check')
                          .flex-grow-1.align-self-center
                            h6.mt-0 user-check
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='user-minus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 user-minus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='user-plus')
                          .flex-grow-1.align-self-center
                            h6.mt-0 user-plus
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='user-x')
                          .flex-grow-1.align-self-center
                            h6.mt-0 user-x
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='user')
                          .flex-grow-1.align-self-center
                            h6.mt-0 user
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='users')
                          .flex-grow-1.align-self-center
                            h6.mt-0 users
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='video-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 video-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='video')
                          .flex-grow-1.align-self-center
                            h6.mt-0 video
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='voicemail')
                          .flex-grow-1.align-self-center
                            h6.mt-0 voicemail
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='volume-1')
                          .flex-grow-1.align-self-center
                            h6.mt-0 volume-1
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='volume-2')
                          .flex-grow-1.align-self-center
                            h6.mt-0 volume-2
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='volume-x')
                          .flex-grow-1.align-self-center
                            h6.mt-0 volume-x
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='volume')
                          .flex-grow-1.align-self-center
                            h6.mt-0 volume
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='watch')
                          .flex-grow-1.align-self-center
                            h6.mt-0 watch
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='wifi-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 wifi-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='wifi')
                          .flex-grow-1.align-self-center
                            h6.mt-0 wifi
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='wind')
                          .flex-grow-1.align-self-center
                            h6.mt-0 wind
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='x-circle')
                          .flex-grow-1.align-self-center
                            h6.mt-0 x-circle
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='x-square')
                          .flex-grow-1.align-self-center
                            h6.mt-0 x-square
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='x')
                          .flex-grow-1.align-self-center
                            h6.mt-0 x
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='youtube')
                          .flex-grow-1.align-self-center
                            h6.mt-0 youtube
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='zap-off')
                          .flex-grow-1.align-self-center
                            h6.mt-0 zap-off
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='zap')
                          .flex-grow-1.align-self-center
                            h6.mt-0 zap
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='zoom-in')
                          .flex-grow-1.align-self-center
                            h6.mt-0 zoom-in
                      .col-sm-6.col-md-4
                        .d-flex
                          i(data-feather='zoom-out')
                          .flex-grow-1.align-self-center
                            h6.mt-0 zoom-out
          // Container-fluid Ends
        include ../../components/footer
      .icon-hover-bottom.p-fixed.fa-fa-icon-show-div.opecity-0
        .container-fluid
          .row
            .icon-popup
              .close-icon
                i.icofont.icofont-close
              .icon-first
                i#icon_main
              .icon-class
                label.icon-title data-feather
                span#fclass1
              .icon-last.icon-last
                label.icon-title Markup
                .form-inline
                  .form-group
                    input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                    button.btn.btn-primary.notification(onclick='myFunction()') Copy text

    include ../../components/footer-files
