- var page_Title = 'Flash-icons';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var clipboard             = true;
- var prism                 = true;
- var customcard            = true;
- var height_equal          = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Animation','Flash Icons'],'Flash Icons')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid 
            .row
                .col-12
                  .card
                    .card-header
                        h4.mb-0 Pulse Animation
                        p.mb-0.mt-1
                          | You can use the 
                          code main-animate
                          |  and 
                          code pulse-wrapper
                          |  classes for the pulse animation.
                    .card-body.pulse-wrapper.main-animate
                      .row.g-3
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Stroke Icons
                            div.common-flex 
                              a(href="#!")  
                                svg.stroke-icon
                                    use(href='../assets/svg/icon-sprite.svg#stroke-calendar')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-ui-kits')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-bookmark')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-to-do')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-table')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fill Icons 
                            div.common-flex 
                              a(href="#!")  
                                svg.fill-icon
                                    use(href='../assets/svg/icon-sprite.svg#fill-calender')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-ui-kits')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-bookmark')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-to-do')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-table')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Feather Icons   
                            div.common-flex 
                              a(href="#!")  
                                i(data-feather='gitlab')
                              a(href="#!")  
                                i(data-feather='twitter')
                              a(href="#!")  
                                i(data-feather='youtube')
                              a(href="#!")  
                                i(data-feather='thumbs-up')
                              a(href="#!")  
                                i(data-feather='instagram')
                              a(href="#!")  
                                i(data-feather='github')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Ico Icons 
                            div.common-flex 
                              a(href="#!")  
                                i.icofont.icofont-hotel-boy-alt
                              a(href="#!")  
                                i.icofont.icofont-boy
                              a(href="#!")  
                                i.icofont.icofont-girl
                              a(href="#!")  
                                i.icofont.icofont-business-man
                              a(href="#!")  
                                i.icofont.icofont-man-in-glasses
                              a(href="#!")  
                                i.icofont.icofont-business-man-alt-1
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fontawesome Icons   
                            div.common-flex 
                              a(href="#!")  
                                i.fa.fa-sun-o
                              a(href="#!")  
                                i.fa.fa-linux
                              a(href="#!")  
                                i.fa.fa-stack-overflow
                              a(href="#!")  
                                i.fa.fa-windows
                              a(href="#!")  
                                i.fa.fa-reddit
                              a(href="#!")  
                                i.fa.fa-dropbox
                .col-12
                  .card
                    .card-header
                        h4.mb-0 Pulse Double Border Animation
                        p.mb-0.mt-1
                          | You can use the 
                          code main-animate , border-pulse-wrapper ,
                          |  and 
                          code pulse-wrapper
                          |  classes for the double border pulse animation.
                    .card-body.pulse-wrapper.main-animate.border-pulse-wrapper
                      .row.g-3
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Stroke Icons
                            div.common-flex 
                              a(href="#!")  
                                svg.stroke-icon
                                    use(href='../assets/svg/icon-sprite.svg#stroke-calendar')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-ui-kits')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-bookmark')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-to-do')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-table')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fill Icons     
                            div.common-flex 
                              a(href="#!")  
                                svg.fill-icon
                                    use(href='../assets/svg/icon-sprite.svg#fill-calender')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-ui-kits')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-bookmark')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-to-do')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-table')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Feather Icons   
                            div.common-flex 
                              a(href="#!")  
                                i(data-feather='gitlab')
                              a(href="#!")  
                                i(data-feather='twitter')
                              a(href="#!")  
                                i(data-feather='youtube')
                              a(href="#!")  
                                i(data-feather='thumbs-up')
                              a(href="#!")  
                                i(data-feather='instagram')
                              a(href="#!")  
                                i(data-feather='github')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Ico Icons    
                            div.common-flex 
                              a(href="#!")  
                                i.icofont.icofont-hotel-boy-alt
                              a(href="#!")  
                                i.icofont.icofont-boy
                              a(href="#!")  
                                i.icofont.icofont-girl
                              a(href="#!")  
                                i.icofont.icofont-business-man
                              a(href="#!")  
                                i.icofont.icofont-man-in-glasses
                              a(href="#!")  
                                i.icofont.icofont-business-man-alt-1
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fontawesome Icons    
                            div.common-flex 
                              a(href="#!")  
                                i.fa.fa-sun-o
                              a(href="#!")  
                                i.fa.fa-linux
                              a(href="#!")  
                                i.fa.fa-stack-overflow
                              a(href="#!")  
                                i.fa.fa-windows
                              a(href="#!")  
                                i.fa.fa-reddit
                              a(href="#!")  
                                i.fa.fa-dropbox
                .col-12
                  .card
                    .card-header
                        h4.mb-0 Pulse Rhombus Animation
                        p.mb-0.mt-1
                          | You can use the 
                          code main-animate , pulse-rhombus
                          |  and 
                          code pulse-wrapper
                          |  classes for the clippath shaped pulse animation.
                    .card-body.pulse-wrapper.main-animate.pulse-rhombus
                      .row.g-3
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Stroke Icons
                            div.common-flex 
                              a(href="#!")  
                                svg.stroke-icon
                                    use(href='../assets/svg/icon-sprite.svg#stroke-calendar')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-ui-kits')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-bookmark')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-to-do')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-table')
                              a(href="#!")  
                                svg.stroke-icon
                                  use(href='../assets/svg/icon-sprite.svg#stroke-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fill Icons 
                            div.common-flex 
                              a(href="#!")  
                                svg.fill-icon
                                    use(href='../assets/svg/icon-sprite.svg#fill-calender')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-ui-kits')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-bookmark')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-to-do')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-table')
                              a(href="#!")  
                                svg.fill-icon
                                  use(href='../assets/svg/icon-sprite.svg#fill-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Feather Icons
                            div.common-flex 
                              a(href="#!")  
                                i(data-feather='gitlab')
                              a(href="#!")  
                                i(data-feather='twitter')
                              a(href="#!")  
                                i(data-feather='youtube')
                              a(href="#!")  
                                i(data-feather='thumbs-up')
                              a(href="#!")  
                                i(data-feather='instagram')
                              a(href="#!")  
                                i(data-feather='github')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Ico Icons 
                            div.common-flex 
                              a(href="#!")  
                                i.icofont.icofont-hotel-boy-alt
                              a(href="#!")  
                                i.icofont.icofont-boy
                              a(href="#!")  
                                i.icofont.icofont-girl
                              a(href="#!")  
                                i.icofont.icofont-business-man
                              a(href="#!")  
                                i.icofont.icofont-man-in-glasses
                              a(href="#!")  
                                i.icofont.icofont-business-man-alt-1
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fontawesome Icons 
                            div.common-flex 
                              a(href="#!")  
                                i.fa.fa-sun-o
                              a(href="#!")  
                                i.fa.fa-linux
                              a(href="#!")  
                                i.fa.fa-stack-overflow
                              a(href="#!")  
                                i.fa.fa-windows
                              a(href="#!")  
                                i.fa.fa-reddit
                              a(href="#!")  
                                i.fa.fa-dropbox
                .col-12
                  .card
                    .card-header
                        h4.mb-0 Pulse Colored Animation
                        p.mb-0.mt-1
                          | You can use the 
                          code main-animate , pulse-rabbet ,
                          |  and 
                          code pulse-wrapper
                          |  classes for the colored SVG pulse animation.
                    .card-body.pulse-wrapper.main-animate.pulse-rabbet
                      .row.g-3
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Stroke Icons
                            div.common-flex 
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                    use(href='../assets/svg/icon-sprite.svg#stroke-calendar')
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                  use(href='../assets/svg/icon-sprite.svg#stroke-ui-kits')
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                  use(href='../assets/svg/icon-sprite.svg#stroke-bookmark')
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                  use(href='../assets/svg/icon-sprite.svg#stroke-to-do')
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                  use(href='../assets/svg/icon-sprite.svg#stroke-table')
                              a(href="#!").bg-light-primary  
                                svg.stroke-primary
                                  use(href='../assets/svg/icon-sprite.svg#stroke-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fill Icons 
                            div.common-flex 
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                    use(href='../assets/svg/icon-sprite.svg#fill-calender')
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                  use(href='../assets/svg/icon-sprite.svg#fill-ui-kits')
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                  use(href='../assets/svg/icon-sprite.svg#fill-bookmark')
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                  use(href='../assets/svg/icon-sprite.svg#fill-to-do')
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                  use(href='../assets/svg/icon-sprite.svg#fill-table')
                              a(href="#!").bg-light-secondary  
                                svg.fill-secondary
                                  use(href='../assets/svg/icon-sprite.svg#fill-animation')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Feather Icons 
                            div.common-flex 
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='gitlab')
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='twitter')
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='youtube')
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='thumbs-up')
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='instagram')
                              a(href="#!").bg-light-success  
                                i.stroke-success(data-feather='github')
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Ico Icons 
                            div.common-flex 
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-hotel-boy-alt
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-boy
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-girl
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-business-man
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-man-in-glasses
                              a(href="#!").bg-light-warning  
                                i.txt-warning.icofont.icofont-business-man-alt-1
                        .col-md-6.col-xxl-4
                          .card-wrapper.border.rounded-3
                            h6.sub-title.fw-bold Fontawesome Icons   
                            div.common-flex 
                              a(href="#!").bg-light-info  
                                i.fa.fa-sun-o.txt-info
                              a(href="#!").bg-light-info  
                                i.fa.fa-linux.txt-info
                              a(href="#!").bg-light-info  
                                i.fa.fa-stack-overflow.txt-info
                              a(href="#!").bg-light-info  
                                i.fa.fa-windows.txt-info
                              a(href="#!").bg-light-info  
                                i.fa.fa-reddit.txt-info
                              a(href="#!").bg-light-info  
                                i.fa.fa-dropbox.txt-info
                .col-12
                  .card
                    .card-header
                        h4.mb-0 Heart-beat Animation
                        p.mb-0.mt-1
                          | You can use the 
                          code main-animate
                          |  and 
                          code heartbeat-wrapper
                          |  classes for the colored SVG pulse animation.
                    .card-body.heartbeat-wrapper.main-animate
                      div.common-flex 
                          a(href="#!")  
                            i.icon-heart-broken
                          a(href="#!")  
                            i(data-feather='heart')
                          a(href="#!")  
                            i.fa.fa-heart
                          a(href="#!")  
                            i.icofont.icofont-heart-beat
                          a(href="#!")  
                            i.icon-heart                   
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
