- var page_Title = 'Footer Dark';
- var theme_customizer      = true;
- var tooltip               = true;
- var footer_dark           = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Page Layout','Footer Dark'],'Footer Dark')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header
                    h4 Sample Card
                    p.f-m-light.mt-1 A sample card of the mofi theme.
                  .card-body
                    p
                      | A web designer is technically proficient as well as having a good sense of aesthetics and colour. They take care to choose colour palettes that go with the corporate identity and deliver the intended message. The website's efficacy and overall user experience can be significantly impacted by the colour scheme. A web designer can develop a visually appealing website that grabs visitors' attention and improves their surfing experience by adding the right color choices.
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
