- var page_Title = 'Grid';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var clipboard             = true;
- var prism                 = true;
- var customcard            = true;
- var animate               = true;
- var scrollbar             = true;
- var height_equal          = true;

include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Ui Kits','Grid'],'Grid')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header
                    h4 Grid Options
                    p.f-m-light.mt-1
                      | Bootstrap grid system allow all six breakpoints, and any breakpoints
                      | you can customize.
                  .card-body
                    .table-responsive
                      table.table.table-bordered.table-striped
                        thead
                          tr
                            th
                            th.text-center
                              p Extra small
                              small &lt;576px
                            th.text-center
                              p Small
                              small ≥576px
                            th.text-center
                              p Medium
                              small ≥768px
                            th.text-center
                              p Large
                              small ≥992px
                            th.text-center
                              p Extra large
                              small ≥1200px
                            th.text-center
                              p Extra extra large
                              small.digits ≥1400px
                        tbody
                          tr
                            th.text-nowrap(scope='row') Grid behavior
                            td Horizontal at all times
                            td(colspan='5') Collapsed to start, horizontal above breakpoints
                          tr
                            th.text-nowrap(scope='row') Max container width
                            td None (auto)
                            td 540px
                            td 720px
                            td 960px
                            td 1140px
                            td 1320px
                          tr
                            th.text-nowrap(scope='row') Class prefix
                            td
                              code .col-
                            td
                              code .col-sm-
                            td
                              code .col-md-
                            td
                              code .col-lg-
                            td
                              code .col-xl-
                            td
                              code .col-xxl-
                          tr
                            th.text-nowrap(scope='row') # of columns
                            td(colspan='6') 12
                          tr
                            th.text-nowrap(scope='row') Gutter width
                            td(colspan='6') 1.5rem (.75rem on left and right)
                          tr
                            th.text-nowrap(scope='row') Nestable
                            td(colspan='6') Yes
                          tr
                            th.text-nowrap(scope='row') Offsets
                            td(colspan='6') Yes
                          tr
                            th.text-nowrap(scope='row') Column ordering
                            td(colspan='6') Yes
              .col-sm-12
                .card
                  .card-header
                    h4 Grid for Columns
                    p.mt-1.f-m-light
                      | Use predefined grid classes. Using 
                      code col-md-* 
                      | you can set the grid system.
                  .card-body.grid-showcase
                    .row
                      .col-md-1.text-center
                        span col-md-1
                      .col-md-2.text-center
                        span col-md-2
                      .col-md-2.text-center
                        span col-md-2
                      .col-md-3.text-center
                        span col-md-3
                      .col-md-4.text-center
                        span col-md-4
                      .col-md-5.text-center
                        span col-md-5
                      .col-md-7.text-center
                        span col-md-7
                      .col-md-6.text-center
                        span col-md-6
                      .col-md-6.text-center
                        span col-md-6
                      .col-md-8.text-center
                        span col-md-8
                      .col-md-4.text-center
                        span col-md-4
                      .col-md-9.text-center
                        span col-md-9
                      .col-md-3.text-center
                        span col-md-3
                      .col-md-10.text-center
                        span col-md-10
                      .col-md-2.text-center
                        span col-md-2
                      .col-md-12.text-center
                        span col-md-12
              .col-xl-5
                .card.height-equal
                  .card-header
                    h4 Enable Flex Behaviors
                    p.mt-1.f-m-light
                      | Use 
                      code d-flex 
                      |  and 
                      code  d-inline-flex
                      |  classes to set the flex behaviors.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .flex-behaviors
                      .d-flex.p-2.c-light I&apos;m a flexbox container!
                      .d-inline-flex.p-2.c-light I&apos;m an inline flexbox container!
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#flex-behavior', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#flex-behavior
                          |&lt;div class="flex-behaviors"&gt;
                          |  &lt;div class="d-flex p-2"&gt;I&apos;m a flexbox container!&lt;/div&gt;
                          |  &lt;div class="d-inline-flex p-2"&gt;I&apos;m an inline flexbox container!&lt;/div&gt;
                          |&lt;/div&gt;
              .col-xl-7
                .card.height-equal
                  .card-header
                    h4 Horizontal Gutters
                    p.mt-1.f-m-light
                      code gx-* 
                      |  classes can be used to control the horizontal gutter widths. The 
                      code  container 
                      |  or 
                      code  container-fluid 
                      |  parent may need to be adjusted if larger gutters are used too to avoid unwanted overflow, using a matching padding utility.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.h-gutter
                    .container.px-4.text-center
                      .row.gx-5.gy-sm-0.g-3
                        .col
                          .p-3 
                            span Custom column padding
                        .col
                          .p-3 
                            span Custom column padding
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#horizontal-gutter', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#horizontal-gutter
                          |&lt;div class="container px-4 text-center"&gt;
                          |  &lt;div class="row gx-5 gy-sm-0 g-3"&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-xl-6
                .card.height-equal-2
                  .card-header
                    h4 Vertical Gutters
                    p.mt-1.f-m-light
                      code  gy-* 
                      |  classes control vertical space between elements in rows, especially when they wrap and wider spacing can overflow the page and wrap the 
                      code  row
                      |  with 
                      code  overflow-hidden
                      |  to prevent this.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.v-gutter  
                    .container.overflow-hidden.text-center
                      .row.gy-3
                        .col-6
                          .p-3 
                            span Custom column padding
                        .col-6
                          .p-3 
                            span Custom column padding
                        .col-6
                          .p-3 
                            span Custom column padding
                        .col-6
                          .p-3 
                            span Custom column padding
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#vertical-gutter', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#vertical-gutter
                          |&lt;div class="container overflow-hidden text-center"&gt;
                          |  &lt;div class="row gy-3"&gt;
                          |    &lt;div class="col-6"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col-6"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col-6"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col-6"&gt;
                          |      &lt;div class="p-3"&gt;&lt;span&gt;Custom column padding&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-xl-6
                .card.height-equal-2
                  .card-header
                    h4 Row Columns Gutters
                    p.mt-1.f-m-light
                      | Gutter classes can also be added to row columns. In the following example, we use responsive row columns and responsive gutter classes.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.r-c-gutter
                    .container.text-center
                      .row.row-cols-2.row-cols-xxl-5.row-cols-xl-4.row-cols-md-3.g-2.g-lg-3
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                        .col
                          .p-10
                            span Row column
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#row-col-gutter', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#row-col-gutter
                          |&lt;div class="container text-center"&gt;
                          |  &lt;div class="row row-cols-2 row-cols-xxl-5 row-cols-xl-4 row-cols-md-3 g-2 g-lg-3"&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |    &lt;div class="col"&gt;
                          |      &lt;div class="p-10"&gt;&lt;span&gt;Row column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-sm-12
                .card
                  .card-header
                    h4 No Gutters
                    p.mt-1.f-m-light
                      | Use 
                      code g-0
                      |   on the 
                      code  row 
                      |  to eliminate spacing between columns.
                      code  container 
                      |  and use 
                      code  mx-0 
                      |  on the 
                      code  row 
                      |  to prevent overflow.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.no-gutter
                    .row.g-0.text-center
                      .col-sm-6.col-md-8
                        .p-3 
                          span col-sm-6 & col-md-8
                      .col-6.col-md-4 
                        .p-3
                          span.col-6 col-md-4
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#no-gutter', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#no-gutter
                          |&lt;div class="row g-0 text-center"&gt;
                          |  &lt;div class="col-sm-6 col-md-8"&gt;
                          |    &lt;div class="p-3"&gt;&lt;span&gt;col-sm-6 & col-md-8&lt;/span&gt;&lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-6 col-md-4"&gt; 
                          |    &lt;div class="p-3"&gt;&lt;span class="col-6"&gt;col-md-4&lt;/span&gt;&lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-sm-12
                .card
                  .card-header
                    h4 Vertical Alignment
                    p.mt-1.f-m-light
                      | Use
                      code  align-items-*
                      |  class
                      |   to set the vertical alignment.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .grid-showcase.mb-0
                      .row
                        .col-lg-4
                          .row.grid-vertical.align-items-start.m-1.g-2
                            .col-6
                              span.bg-white one column
                            .col-6
                              span.bg-white two column
                        .col-lg-4
                          .row.grid-vertical.align-items-center.m-1.g-2
                            .col-6
                              span.bg-white one column
                            .col-6
                              span.bg-white two column
                        .col-lg-4
                          .row.grid-vertical.align-items-end.m-1.g-2
                            .col-6
                              span.bg-white one column
                            .col-6
                              span.bg-white two column
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#vertical-alignment', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#vertical-alignment
                          |&lt;div class="row"&gt;
                          |  &lt;div class="col-lg-4"&gt;
                          |    &lt;div class="row grid-vertical align-items-start m-1 g-2"&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;one column&lt;/span&gt;&lt;/div&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;two column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-lg-4"&gt;
                          |    &lt;div class="row grid-vertical align-items-center m-1 g-2"&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;one column&lt;/span&gt;&lt;/div&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;two column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-lg-4"&gt;
                          |    &lt;div class="row grid-vertical align-items-end m-1 g-2"&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;one column&lt;/span&gt;&lt;/div&gt;
                          |      &lt;div class="col-6"&gt;&lt;span class="bg-white"&gt;two column&lt;/span&gt;&lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
                  .card-footer
                    .table-responsive.grid-footer
                      table.w-100
                        tbody
                          tr
                            th  Class
                            th Value of the class
                          tr
                            td
                              code .align-items-*
                            td  start / center / end / baseline / stretch
              .col-sm-12
                .card
                  .card-header
                    h4 Horizontal Alignment
                    p.mt-1.f-m-light
                      | Use
                      code  justify-content-*
                      |  class
                      |   to set the horizontal alignment.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body 
                    .grid-showcase.grid-align
                      .row.justify-content-start
                        .col-5
                          span.bg-white One column
                        .col-5
                          span.bg-white Two column
                      .row.justify-content-center
                        .col-5
                          span.bg-white One column
                        .col-5
                          span.bg-white Two column
                      .row.justify-content-end
                        .col-5
                          span.bg-white One column
                        .col-5
                          span.bg-white Two column
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#horizontal-alignment', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#horizontal-alignment
                          |&lt;div class="row justify-content-start"&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;One column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;Two column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
                          |&lt;div class="row justify-content-center"&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;One column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;Two column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
                          |&lt;div class="row justify-content-end"&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;One column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-5"&gt;
                          |    &lt;span class="bg-white"&gt;Two column&lt;/span&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
                  .card-footer
                    .table-responsive.grid-footer
                      table.w-100
                        tbody
                          tr
                            th  Class
                            th Value of the class
                          tr
                            td
                              code .justify-content-*
                            td  start / center / end / around / between
              .col-sm-12
                .card
                  .card-header
                    h4 Nesting
                    p.mt-1.f-m-light
                      | To nest your content with the default grid, add a new
                      code  row
                      |  and set
                      |  of 
                      code col-sm-*
                      |  columns within an existing 
                      code  col-sm-*
                      |   column.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .grid-showcase
                      .row.g-3
                          .col-3
                              span Level 1: .col-3
                          .col-9
                              .grid-wrapper.pb-0
                                .row.g-2
                                  .col-5
                                    span.border.border-2 Level 2: .col-5
                                  .col-7
                                    span.border.border-2 Level 2: .col-7
                          .col-8
                            .grid-wrapper.pb-0
                              .row.g-2
                                .col-sm-2.col-4
                                  span.border.border-2 Level 1: .col-2
                                .col-sm-10.col-8
                                  span.border.border-2 Level 1: .col-10
                          .col-4
                              span Level 2: .col-4  
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#nesting', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#nesting
                          |&lt;div class="row g-3"&gt;
                          |  &lt;div class="col-3"&gt;&lt;span&gt;Level 1: .col-3&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-9"&gt;
                          |    &lt;div class="grid-wrapper pb-0"&gt;
                          |      &lt;div class="row g-2"&gt;
                          |        &lt;div class="col-5"&gt;&lt;span class="border border-2"&gt;Level 2: .col-5&lt;/span&gt;&lt;/div&gt;
                          |        &lt;div class="col-7"&gt;&lt;span class="border border-2"&gt;Level 2: .col-7&lt;/span&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-8"&gt;
                          |    &lt;div class="grid-wrapper pb-0"&gt;
                          |      &lt;div class="row g-2"&gt;
                          |        &lt;div class="col-sm-2 col-4"&gt;&lt;span class="border border-2"&gt;Level 1: .col-2&lt;/span&gt;&lt;/div&gt;
                          |        &lt;div class="col-sm-10 col-8"&gt;&lt;span class="border border-2"&gt;Level 1: .col-10&lt;/span&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-4"&gt;&lt;span&gt;Level 2: .col-4&lt;/span&gt;&lt;/div&gt;
                          |&lt;/div&gt;
              .col-sm-12
                .card
                  .card-header
                    h4 Order
                    p.mt-1.f-m-light
                      | Use 
                      code order 
                      | class, you can set the order position.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body 
                    .grid-showcase
                      .row.g-2
                          .col-3.order-3
                              span First Item (order-3)
                          .col-5.order-first
                              span Second Item (order-first)
                          .col-4.order-last
                              span Third Item (order-last)
                          .col-3.order-2
                              span Fourth Item (order-2)
                          .col-sm-2.col-4.order-5
                              span fifth Item (order-5)
                          .col-sm-6.col-4.order-4
                              span sixth Item (order-4)
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#order-grid', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#order-grid
                          |&lt;div class="row g-2"&gt;
                          |  &lt;div class="col-3 order-3"&gt;&lt;span&gt;First Item (order-3)&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-5 order-first"&gt;&lt;span&gt;Second Item (order-first)&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-4 order-last"&gt;&lt;span&gt;Third Item (order-last)&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-3 order-2"&gt;&lt;span&gt;Fourth Item (order-2)&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-sm-2 col-4 order-5"&gt;&lt;span&gt;fifth Item (order-5)&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-sm-6 col-4 order-4"&gt;&lt;span&gt;sixth Item (order-4)&lt;/span&gt;&lt;/div&gt;
                          |&lt;/div&gt;
                  .card-footer
                    .table-responsive.grid-footer
                      table.w-100
                        tbody
                          tr
                            th  Class
                            th Value of the class
                          tr
                            td
                              code .order-*
                            td  first / 2 / 3 / 4 / 5 / last
              .col-sm-12
                .card
                  .card-header
                    h4 Offset
                    p.mt-1.f-m-light
                      | Move columns to the right using 
                      code .offset-sm-* 
                      | classes. These classes increase the left margin of a column by 
                      code * 
                      | columns.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body 
                    .grid-showcase
                      .row.g-2
                        .col-sm-5.col-4.offset-sm-3.offset-2
                            span col-5 offset-sm-3
                        .col-sm-2.col-4.offset-sm-2.offset-1
                            span col-2 offset-sm-2
                        .col-sm-4.col-5.offset-2
                            span col-4 offset-sm-2
                        .col-sm-3.col-4.offset-sm-2.offset-1
                            span col-3 offset-sm-2
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#offset-grid', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#offset-grid
                          |&lt;div class="row g-2"&gt;
                          |  &lt;div class="col-sm-5 col-4 offset-sm-3 offset-2"&gt;&lt;span&gt;col-5 offset-sm-3&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-sm-2 col-4 offset-sm-2 offset-1"&gt;&lt;span&gt;col-2 offset-sm-2&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-sm-4 col-5 offset-2"&gt;&lt;span&gt;col-4 offset-sm-2&lt;/span&gt;&lt;/div&gt;
                          |  &lt;div class="col-sm-3 col-4 offset-sm-2 offset-1"&gt;&lt;span&gt;col-3 offset-sm-2&lt;/span&gt;&lt;/div&gt;
                          |&lt;/div&gt;
                  .card-footer 
                    .table-responsive.grid-footer
                      table.w-100
                        tbody
                          tr
                            th  Class
                            th Value of the class
                          tr
                            td
                              code .offset-*-*
                            td  1 / 2 / ... / 10 / 11
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
