- var page_Title = 'Placeholders';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var clipboard             = true;
- var prism                 = true;
- var customcard            = true;
- var height_equal          = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Ui Kits','Placeholders'],'Placeholders')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid 
            .row
              .col-xxl-6.box-col-12
                .card
                  .card-header
                    h4.mb-0 Placeholder Cards
                    p.f-m-light.mt-1
                      | In the example below, we take a typical card component and recreate it with placeholders applied to create a 
                      code  loading card 
                      | and create placeholders with the 
                      code placeholder 
                      | class.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.loading-card-wrapper
                    .row.gy-3
                      .col-sm-6
                        .card.mb-0.overflow-hidden(aria-hidden='true')
                          img.card-img-top.img-fluid(src='../assets/images/masonry/5.jpg' alt='')
                          .card-body
                              h5.card-title Card title
                              p.card-text
                                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                              a.btn.btn-primary(href='#!') Go somewhere
                      .col-sm-6
                        .card.mb-0.overflow-hidden(aria-hidden='true')
                          img.card-img-top.img-fluid(src='../assets/images/masonry/13.jpg' alt='')
                          .card-body
                            h5.card-title.placeholder-glow
                              span.placeholder.col-4.placeholder-light
                            div.card-text.placeholder-glow.mb-3
                              div.placeholder.col-7.placeholder-light
                              div.placeholder.col-4.placeholder-light
                              div.placeholder.col-4.placeholder-light
                              div.placeholder.col-6.placeholder-light
                              div.placeholder.col-3.placeholder-light
                            a(href="#!").btn.btn-primary.disabled.placeholder.col-6
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#placeholder-card', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#placeholder-card
                          |&lt;div class="row gy-3"&gt;
                          |  &lt;div class="col-sm-6"&gt;
                          |    &lt;div class="card mb-0 h-100" aria-hidden="true"&gt;&lt;img class="card-img-top img-fluid" src="../assets/images/masonry/5.jpg" alt="#"&gt;
                          |      &lt;div class="card-body"&gt;
                          |        &lt;h6 class="card-title"&gt;Card Title&lt;/h6&gt;
                          |        &lt;p class="card-text c-o-light"&gt;Some quick example text to build on the card title and make up the bulk of the card&apos;s content.&lt;/p&gt;&lt;a class="btn btn-primary" href="#!"&gt;Go somewhere&lt;/a&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-sm-6"&gt;
                          |    &lt;div class="card mb-0 h-100" aria-hidden="true"&gt;&lt;img class="card-img-top img-fluid" src="../assets/images/masonry/13.jpg" alt="#"&gt;
                          |      &lt;div class="card-body"&gt;
                          |        &lt;h6 class="card-title placeholder-glow"&gt;&lt;span class="placeholder col-6 placeholder-light"&gt;&lt;/span&gt;&lt;/h6&gt;
                          |        &lt;div class="card-text placeholder-glow mb-3"&gt;
                          |          &lt;div class="placeholder col-7 placeholder-light"&gt;&lt;/div&gt;
                          |          &lt;div class="placeholder col-4 placeholder-light"&gt;&lt;/div&gt;
                          |          &lt;div class="placeholder col-4 placeholder-light"&gt;&lt;/div&gt;
                          |          &lt;div class="placeholder col-6 placeholder-light"&gt;&lt;/div&gt;
                          |          &lt;div class="placeholder col-8 placeholder-light"&gt;&lt;/div&gt;
                          |        &lt;/div&gt;&lt;a class="btn btn-primary disabled placeholder col-6" href="#!"&gt;&lt;/a&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;  
              .col-xxl-6.box-col-12
                .card 
                  .card-header
                    h4 Width & Sizing
                    p.f-m-light.mt-1
                      code placeholder
                      |  class + grid column (e.g., col-6) sets width. Works as text replacement or modifier class.Create flexible placeholders: 
                      code placeholder
                      |  + 
                      code grid 
                      | for 
                      code width
                      | . Replace text or modify components.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body 
                    .row.g-3
                      .col-xxl-12.col-md-6.box-col-6 
                        .card-wrapper.border.rounded-3
                          h6.sub-title Width
                          p.f-m-light
                            | You can change the width through grid column classes, width utilities, or inline styles.
                            code  (like: w-25, w-50, w-75, w-100 ) 
                          .card-body.p-0.placeholder-glow
                            span.placeholder.w-50.placeholder-light
                            span.placeholder.w-75.placeholder-light
                            span.placeholder.w-100.placeholder-light
                            span.placeholder.w-25.placeholder-light
                      .col-xxl-12.col-md-6.box-col-6  
                        .card-wrapper.border.rounded-3
                          h6.sub-title Sizing
                          p.f-m-light
                            | The size of 
                            code placeholder
                            |  are based on the typographic style of the parent element. Customize them with sizing modifiers: 
                            code placeholder-lg, placeholder-sm, or placeholder-xs
                            | .
                          .card-body.p-0.placeholder-glow
                            span.placeholder.col-12.placeholder-lg.placeholder-light
                            span.placeholder.col-12.placeholder-light
                            span.placeholder.col-12.placeholder-sm.placeholder-light
                            span.placeholder.col-12.placeholder-xs.placeholder-light
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#sizing-placeholder-card', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#sizing-placeholder-card
                          |&lt;div class="row g-3"&gt;
                          |  &lt;div class="col-xxl-12 col-md-6 box-col-6"&gt; 
                          |    &lt;div class="card-wrapper border rounded-3 h-100"&gt;
                          |      &lt;h6 class="sub-title pb-1"&gt;Width&lt;/h6&gt;
                          |      &lt;p class="f-m-light"&gt;You can change the width through grid column classes, width utilities, or inline styles.
                          |        &lt;code&gt; (like: w-25 , w-50 , w-75 , w-100 )&lt;/code&gt;
                          |      &lt;/p&gt;
                          |      &lt;div class="card-body p-0 placeholder-glow"&gt;
                          |        &lt;span class="placeholder w-50 placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder w-75 placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder w-100 placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder w-25 placeholder-light"&gt;&lt;/span&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-xxl-12 col-md-6 box-col-6"&gt; 
                          |    &lt;div class="card-wrapper border rounded-3 h-100"&gt;
                          |      &lt;h6 class="sub-title pb-1"&gt;Sizing&lt;/h6&gt;
                          |      &lt;p class="f-m-light"&gt;The size of
                          |        &lt;code&gt;placeholder&lt;/code&gt; are based on the typographic style of the parent element. Customize them with sizing modifiers:&lt;code&gt;placeholder-lg, placeholder-sm, or placeholder-xs&lt;/code&gt;.
                          |      &lt;/p&gt;
                          |      &lt;div class="card-body p-0 placeholder-glow"&gt;
                          |        &lt;span class="placeholder col-12 placeholder-lg placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder col-12 placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder col-12 placeholder-sm placeholder-light"&gt;&lt;/span&gt;
                          |        &lt;span class="placeholder col-12 placeholder-xs placeholder-light"&gt;&lt;/span&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-md-6
                .card
                  .card-header
                    h4.mb-0 Animation
                    p.f-m-light.mt-1
                      | Animate placeholders with 
                      code placeholder-glow 
                      | or 
                      code placeholder-wave
                      |  to better convey the perception of something being actively loaded.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.animation-placeholder
                    p.placeholder-glow
                      span.placeholder.col-12.placeholder-light
                    p.placeholder-wave
                      span.placeholder.col-12.placeholder-light
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#placeholder-animate-copy', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#placeholder-animate-copy
                          |&lt;p class="placeholder-glow"&gt;
                          |  &lt;span class="placeholder col-12 placeholder-light"&gt;&lt;/span&gt;
                          |&lt;/p&gt;
                          |&lt;p class="placeholder-wave"&gt;
                          |  &lt;span class="placeholder col-12 placeholder-light"&gt;&lt;/span&gt;
                          |&lt;/p&gt;
              .col-md-6
                .card
                  .card-header
                    h4.mb-0 Custom Animation Placeholder
                    p.f-m-light.mt-1
                      | With the 
                      code wave-left-lines
                      |  custom animation, placeholders may be used into your unique design.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .row.gy-3 
                      .col-sm-6
                        .placeholder-body
                          .placeholder-start
                            .square
                          .placeholder-end
                            .placeholder-line.placeholder-h-17.w-25.mb-2
                            .placeholder-line
                            .placeholder-line.placeholder-h-8.w-50
                            .placeholder-line.w-75
                      .col-sm-6
                        .placeholder-body
                          .placeholder-start
                            .square.circle
                          .placeholder-end
                            .placeholder-line.placeholder-h-17.w-25.mb-2
                            .placeholder-line
                            .placeholder-line.placeholder-h-8.w-50
                            .placeholder-line.w-75
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#custom-animation-place', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#custom-animation-place
                          |&lt;div class="row gy-3"&gt; 
                          |  &lt;div class="col-sm-6"&gt;
                          |    &lt;div class="placeholder-body"&gt;
                          |      &lt;div class="placeholder-start"&gt;
                          |        &lt;div class="square"&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |      &lt;div class="placeholder-end"&gt;
                          |        &lt;div class="placeholder-line placeholder-h-17 w-25 mb-2"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line placeholder-h-8 w-50"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line w-75"&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |  &lt;div class="col-sm-6"&gt;
                          |    &lt;div class="placeholder-body"&gt;
                          |      &lt;div class="placeholder-start"&gt;
                          |        &lt;div class="square circle"&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |      &lt;div class="placeholder-end"&gt;
                          |        &lt;div class="placeholder-line placeholder-h-17 w-25 mb-2"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line placeholder-h-8 w-50"&gt;&lt;/div&gt;
                          |        &lt;div class="placeholder-line w-75"&gt;&lt;/div&gt;
                          |      &lt;/div&gt;
                          |    &lt;/div&gt;
                          |  &lt;/div&gt;
                          |&lt;/div&gt;
              .col-12
                .card
                  .card-header
                    h4.mb-0 Colors
                    p.f-m-light.mt-1
                      | By default, the 
                      code placeholder 
                      | uses 
                      code currentcolor
                      | . This can be overridden with a custom color or utility class.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icon-more-alt
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body.placeholder-glow
                    span.placeholder.col-12
                    span.placeholder.col-12.bg-primary
                    span.placeholder.col-12.bg-secondary
                    span.placeholder.col-12.bg-success
                    span.placeholder.col-12.bg-danger
                    span.placeholder.col-12.bg-warning
                    span.placeholder.col-12.bg-info
                    span.placeholder.col-12.bg-light
                    span.placeholder.col-12.bg-dark
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#placeholder-color-copy', title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.theme-scrollbar
                        code.language-html#placeholder-color-copy
                          |&lt;span class="placeholder col-12"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-primary"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-secondary"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-success"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-danger"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-warning"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-info"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-light"&gt;&lt;/span&gt;
                          |&lt;span class="placeholder col-12 bg-dark"&gt;&lt;/span&gt; 
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
