- var page_Title = 'Pricing';
- var theme_customizer      = true;
- var counter               = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Ecommerce','Pricing'],'Pricing')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header 
                    h4 Become member
                  .card-body.pricing-content
                    .row.pricing-col.gy-4
                      .col-lg-3.col-md-6
                        .pricingtable
                          .pricingtable-header
                            h4.title Standard
                          .price-value
                            span.currency $
                            span.amount 10
                            span.duration /mo
                          ul.pricing-content
                            li 50GB Disk Space
                            li 50 Email Accounts
                            li Maintenance
                            li 15 Subdomains
                          .pricingtable-signup
                            a.btn.btn-primary.btn-lg(href='#') Sign Up
                      .col-lg-3.col-md-6
                        .pricingtable
                          .pricingtable-header
                            h4.title Premium
                          .price-value
                            span.currency $
                            span.amount 20
                            span.duration /mo
                          ul.pricing-content
                            li 10% on all product
                            li 50 Email Accounts
                            li Maintenance
                            li 15 Subdomains
                          .pricingtable-signup
                            a.btn.btn-primary.btn-lg(href='#') Sign Up
                      .col-lg-3.col-md-6
                        .pricingtable
                          .pricingtable-header
                            h4.title Auther pack
                          .price-value
                            span.currency $
                            span.amount 50
                            span.duration /mo
                          ul.pricing-content
                            li Upload 50 product
                            li 50 Email Accounts
                            li Maintenance
                            li 15 Subdomains
                          .pricingtable-signup
                            a.btn.btn-primary.btn-lg(href='#') Sign Up
                      .col-lg-3.col-md-6
                        .pricingtable
                          .pricingtable-header
                            h4.title Auther pack
                          .price-value
                            span.currency $
                            span.amount 50
                            span.duration /mo
                          ul.pricing-content
                            li Upload 50 product
                            li 50 Email Accounts
                            li Maintenance
                            li 15 Subdomains
                          .pricingtable-signup
                            a.btn.btn-primary.btn-lg(href='#') Sign Up
                .card
                  .card-header 
                    h4 Simple Pricing Card
                  .card-body.pricing-content
                    .row.g-sm-4.g-3
                      .col-lg-3.col-sm-6.box-col-3
                        .card.text-center.pricing-simple
                          .card-body
                            h4 Standard
                            h5 $15
                            h6.mb-0 Standard Plan
                          a.btn.btn-lg.btn-primary.btn-block(href='#') Purchase
                      .col-lg-3.col-sm-6.box-col-3
                        .card.text-center.pricing-simple
                          .card-body
                            h4 Business
                            h5 $25
                            h6.mb-0 Business Plan
                          a.btn.btn-lg.btn-primary.btn-block(href='#') Purchase
                      .col-lg-3.col-sm-6.box-col-3
                        .card.text-center.pricing-simple
                          .card-body
                            h4 Premium
                            h5 $35
                            h6.mb-0 Premium Plan
                          a.btn.btn-lg.btn-primary.btn-block(href='#') Purchase
                      .col-lg-3.col-sm-6.box-col-3
                        .card.text-center.pricing-simple
                          .card-body
                            h4 Extra
                            h5 $45
                            h6.mb-0 Extra Plan
                          a.btn.btn-lg.btn-primary.btn-block(href='#') Purchase
        include ../../components/footer
    include ../../components/footer-files
