- var page_Title = 'Project List';
- var chat_menu             = true;
- var theme_customizer      = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var animate               = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.default-wrapper
      .page-header.row
        +breadcrumb(['Project','Project List'],'Project List')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper.default-menu.default-menu
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row.project-cards
              .col-md-12.project-list
                .card
                  .row
                    .col-md-6
                      ul#top-tab.nav.nav-tabs.border-tab(role='tablist')
                        li.nav-item
                          a#top-home-tab.nav-link.active(data-bs-toggle='tab', href='#top-home', role='tab', aria-controls='top-home', aria-selected='true')
                            i(data-feather="target")
                            | All
                        li.nav-item
                          a#profile-top-tab.nav-link(data-bs-toggle='tab', href='#top-profile', role='tab', aria-controls='top-profile', aria-selected='false')
                            i(data-feather="info")
                            | Doing
                        li.nav-item
                          a#contact-top-tab.nav-link(data-bs-toggle='tab', href='#top-contact', role='tab', aria-controls='top-contact', aria-selected='false')
                            i(data-feather="check-circle")
                            | Done
                    .col-md-6                     
                        .form-group.mb-0.me-0
                        a.btn.btn-primary(href="projectcreate.html") 
                          i(data-feather="plus-square") 
                          | Create New Project

              .col-sm-12
                .card
                  .card-body
                    #top-tabContent.tab-content
                      #top-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='top-home-tab')
                        .row
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Endless admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Endless Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 12 
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 5
                                .col-6 
                                  span Comment
                                .col-6.font-primary 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Universal admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Universal Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 24
                                .col-6 
                                  span Resolved
                                .col-6.text-success 24
                                .col-6 
                                  span Comment
                                .col-6.text-success 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Poco admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Poco Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 40
                                .col-6 
                                  span Resolved
                                .col-6.text-success 40
                                .col-6 
                                  span Comment
                                .col-6.text-success 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Universal admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Universal Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 24
                                .col-6 
                                  span Resolved
                                .col-6.text-success 24
                                .col-6 
                                  span Comment
                                .col-6.text-success 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Zeta admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Zeta Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 12 
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 5
                                .col-6 
                                  span Comment
                                .col-6.font-primary 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Poco admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Poco Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 40
                                .col-6 
                                  span Resolved
                                .col-6.text-success 40
                                .col-6 
                                  span Comment
                                .col-6.text-success 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")

                      #top-profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-top-tab')
                        .row
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Endless admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Endless Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 12 
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 5
                                .col-6 
                                  span Comment
                                .col-6.font-primary 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Universal admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Universal Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 24
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 24
                                .col-6 
                                  span Comment
                                .col-6.font-primary 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Poco admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p poco Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 40
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 40
                                .col-6 
                                  span Comment
                                .col-6.font-primary 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Tivo admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Tivo Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 24
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 24
                                .col-6 
                                  span Comment
                                .col-6.font-primary 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Enzo admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Enzo Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 12 
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 5
                                .col-6 
                                  span Comment
                                .col-6.font-primary 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-primary
                              span.badge.badge-primary Doing
                              h5.f-w-500 Xolo admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Xolo Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.font-primary 40
                                .col-6 
                                  span Resolved
                                .col-6.font-primary 40
                                .col-6 
                                  span Comment
                                .col-6.font-primary 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-primary( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")

                      #top-contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-top-tab')
                        .row
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Endless admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Endless Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 12 
                                .col-6 
                                  span Resolved
                                .col-6.text-success 5
                                .col-6 
                                  span Comment
                                .col-6.text-success 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Universal admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Universal Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 24
                                .col-6 
                                  span Resolved
                                .col-6.text-success 24
                                .col-6 
                                  span Comment
                                .col-6.text-success 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Poco admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p poco Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 40
                                .col-6 
                                  span Resolved
                                .col-6.text-success 40
                                .col-6 
                                  span Comment
                                .col-6.text-success 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Universal admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p Universal Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 24
                                .col-6 
                                  span Resolved
                                .col-6.text-success 24
                                .col-6 
                                  span Comment
                                .col-6.text-success 40

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +3 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Endless admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Themeforest, australia
                              p Endless Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 12 
                                .col-6 
                                  span Resolved
                                .col-6.text-success 5
                                .col-6 
                                  span Comment
                                .col-6.text-success 7

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +10 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 70% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success.progress-bar-striped( role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                          .col-xxl-4.col-lg-4.col-md-6
                            .project-box.b-light1-success
                              span.badge.badge-success Done
                              h5.f-w-500 Poco admin Design
                              .d-flex
                                img.img-20.me-1.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                .flex-grow-1
                                  p Envato, australia
                              p poco Admin is a full featured, multipurpose, premium bootstrap admin template.
                              .row.details
                                .col-6
                                  span Issues 
                                .col-6.text-success 40
                                .col-6 
                                  span Resolved
                                .col-6.text-success 40
                                .col-6 
                                  span Comment
                                .col-6.text-success 20

                              .customers
                                ul
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/3.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/5.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block
                                    img.img-30.rounded-circle(src='../assets/images/user/1.jpg' alt='' data-original-title='' title='')
                                  li.d-inline-block.ms-2
                                    p.f-12 +2 More
                              .project-status.mt-4
                                .d-flex.mb-0
                                  p 100% 
                                  .flex-grow-1.text-end
                                    span Done
                                .progress(style="height: 5px")
                                  .progress-bar-animated.bg-success( role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")



          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
