- var page_Title = 'Vector Maps';
- var theme_customizer      = true;
- var vector_map            = true;
- var page_vector_map       = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Maps','Vector Maps'],'Vector Maps')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body.summernote
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR WORLD MAP
                    span Below Map is displaying the world map.
                  .card-body
                    #world-map.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR USA MAP
                    span Below Map is displaying the usa map.
                  .card-body
                    #usa.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR CANADA MAP
                    span Below Map is displaying the canada map.
                  .card-body
                    #canada.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR INDIA MAP
                    span Below Map is displaying the india map.
                  .card-body
                    #india.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR ASIA MAP
                    span Below Map is displaying the asia map.
                  .card-body
                    #asia.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR CANADA MAP
                    span Below Map is displaying the uk map.
                  .card-body
                    #uk.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR CHICAGO MAP
                    span Below Map is displaying the chicago map.
                  .card-body
                    #chicago.jvector-map-height
              .col-sm-6
                .card
                  .card-header
                    h4 VECTOR AUSTRALIA MAP
                    span Below Map is displaying the australia map.
                  .card-body
                    #australia.jvector-map-height

          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
